@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);

  --color-primary: #F97316;
  --color-primaryLight: #FB923C;
  --color-secondary: #EA580C;
  --color-secondaryLight: #F97316;
  --color-darker: #111827;

  --animate-shimmer: shimmer 2s infinite;

  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }

    100% {
      background-position: 1000px 0;
    }
  }

  --animate-scroll: scroll 40s linear infinite;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

/* Custom utilities */
.container-custom {
  @apply mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl;
}

body {
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}